/* This is the CSS for my GitHub Fluency Page for CIT261 */
/* David Olsen */
/* It goes without saying, but this is how you add comments in CSS */

/* General Rules */
html {
	padding: 10px;
	background-color: rgb(210,210,210); }
header, main, footer {
	background-color: #ffffff;
	border: inset #c0220b;
	margin: 10px 80px 10px 80px; }
header, footer {
	text-align: center; }
main {
	font-size: 1.5em;
	margin-left: 10px;
	margin-right: 10px;
	padding: 30px; }
main h1, main h2, main h3 {
	font-family: Agency FB, serif;
	text-align: center; 
	margin: 0px;
	font-size: .8em;}
p, ul, ol, a, td, button {
	margin: 2px;
	font-family: Agency FB, serif; }
.column, .columnnav {
	font-size: 1em;
	float: left;
	padding: 0px 20px 0px 20px;
	height: auto; 
	box-sizing: border-box;
	display: inline-block;
	width: auto;
	overflow: visible; }
.row:after {
	content: "";
	display: table;
	clear: both; }
li a, i { 
	color: red; }
a {
	margin: 0px;
	font-size: 1.4em; }
li { 
	font-size: .9em; }
td { 
	height: auto;
	padding: 10px; }
.TDnumber {
	padding: 20px;
	font-size: 2.5em; 
	width: 50px;}
.TDdef {
	width: 100%; }
.TDjs {
	z-index: 0;
	display: grid;
	justify-content: center;
	min-width: 250px;
	padding: 8px;
	border: solid 2px black; }
.TDjs p {
	text-align: center; }
.TDcode {
	text-align: left; 
	font-size: .35em; 
	border: solid 2px black; 
	font-family: Verdana, Geneva, sans-serif; 
	min-width: 150px; }
hr { 
	border-top: 8px solid black; }
hr.red {
  border-top: 1px solid red; }
table {
	margin-left: 10px;
	margin-right: 10px; }
.active, .inactive, .pending {
	display: table; 
	padding-right: 30px;
	margin-left: 30px;
	background-color: green;
	color: white;}
.inactive {
	background-color: black;
	color: white;}
.pending {
	background-color: yellow;
	color: black;}
.active:after {
	content: "SUBMITTED!!";}
.inactive:after {
	content: "Not Active...";}
.pending:after {
	content: "Pending...";}
button {
	font-size: 1.2em;
	border-radius: 5px 5px 5px 5px;
	padding: inherit;
	display: grid;
	align-items: center;
	justify-content: center; }
button:hover {
	box-shadow: 0px 0px 2px 2px #ccc; }


/* Topic 11 */
.transition1, .transition2 {
	margin: 9px;
	padding: 5px;
	background-color: red;
	min-width: 50px;
	min-height: 50px;
	/transition: all 2s ease;*/ }
.transition1:hover, .transition2:hover {
	background-color: green; }
.transition2 {
	transition: all 2s ease; }
.transImg {
	position: absolute;
	width: 450px; }
.transImg img {
	position: absolute;
	transition: opacity 1s ease-in-out; }
.transImg img.imgTop:hover {
	opacity:0; }
.imgTop, .imgBottom { 
	width: 158px; }
	
/* Topic 12 */
.transform {
	background-color: yellow;
	transform: rotate(30deg); }
.skew {
	background-color: orange;
	transform: skewX(-30deg); }
.scale {
	background-color: red;
	color: white;
	transform: scaleY(.4); }

/* Topic 13 */
.animate1 {
	padding: 10px;
	background-color: red;
	animation-name: example1;
	animation-duration: 10s;}
@keyframes example1 {
	0%   {background-color: red;}
	25%  {background-color: yellow;}
	75%  {background-color: blue;}
	100% {background-color: red;}}
.animate2 {
	padding: 10px;
	background-color: red;
	position: relative;
	animation-name: example2;
	animation-duration: 2s;
	animation-delay: 9s;
	animation-iteration-count: 2; }
@keyframes example2 {
	0%   {left:0px; top:0px;}
	25%  {left:400px; top:0px;}
	50%  {left:200px; top:200px;}
	75%  {left:0px; top:-300px;}
	90%  {left: 0px; top: 50px;}
	100% {left:0px; top:0px;}}
.animate3 {
	padding: 10px;
	background-color: red;
	position: relative;
	animation-name: example3;
	animation-duration: 3s;
	animation-iteration-count: infinite;}
@keyframes example3 {
	0%   {left:0px; top:0px; }
	10%   {left:0px; top:0px;}
	20%  {left:0px; top:5px; transform: rotate(0deg);}
	80%  {left:0px; top:50px; transform: rotate(30deg);}
	100% {left:0px; top:0px;}}
.animate4 {
	padding: 10px;
	background-color: red;}
.animate4:hover {
	position: relative;
	animation-name: example4;
	animation-duration: 3s;
	animation-iteration-count: infinite;}
@keyframes example4 {
	0%   {left:0px; top:0px; }
	50%   {left:50px; top:0px;}
	100%  {left:200px; top:5px; transform: rotate(90deg);}}
.animate5 {
	padding: 10px;
	background-color: red;
	position: relative;
	animation-name: example5;
	animation-duration: 8s;
	animation-iteration-count: infinite;}
@keyframes example5 {
	0%   {left:0px; top:0px; }
	30%   {left:10px; top:-90px; transform: skewX(60deg);}
	70%   {left:160px; top:50px; transform: rotate(181deg);}
	90%   {left:160px; top:50px; transform: scale(2);}
	100%  {left:0px; top:0px; transform: rotate(0deg); transform: scale(1); transform: skew(0deg);}}








/* NAVIGATION BAR LOCKED TO TOP */
.navbar { background-color: white; position: fixed; top: 0; z-index: 1;}

/* DROPMENU */
.dropbtn { color: white; padding: 26px; font-size: 25px;	border: none; background-color: #7C7C7C; border-radius: 0px;}
.dropdown {	position: relative;	display: inline-block; }
.dropdown-content {	display: none; position: absolute; background-color: #304776; z-index: 1;}
.dropdown-content a { width: max-content; color: white; padding: 12px 27px;	display: block; }
.dropdown-content a:hover {	background-color: green; width: 100%; box-shadow: 0px 0px 3px grey;}
.dropdown:hover .dropdown-content {	display: block; }
.dropdown:hover .dropbtn { background-color: #ffffff; color: #5ca4d3; }